/* Navigation pane */
.navigation-pane {
    -fx-background-color: -background-color;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-padding: 0 10;
    -fx-border-width: 0 0.5 0 0;
}

.navigation-pane .titlePane{
    -fx-spacing: 20;
    -fx-pref-height: 70;
    -fx-alignment: center-left;
}

.navigation-pane .appIcon{
    -fx-background-color: black;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-max-height: 40;
    -fx-max-width: 40;
    -fx-background-radius: 50;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-margin: 20;
}

.navigation-pane .appIcon .image-view{
    -fx-background-radius: 50;
}

.navigation-pane .appTitle{
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.navigation-pane .list-view{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-spacing: 20;
}

.navigation-pane .list-view .list-cell{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-padding: 12 10;
    -fx-background-insets: 5 0;
}
.navigation-pane .list-view .list-cell .image-view{
    -fx-alignment: center;
    -fx-padding: 100;
}

.navigation-pane .list-view .list-cell .label{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.navigation-pane .list-view .list-cell:filled:hover{
    -fx-background-color: #26272B;
}

.navigation-pane .list-view .list-cell:filled:selected{
    -fx-background-color: #26272B;
}