.listview-modern{
    -fx-background-color: -background-color;
    -fx-control-inner-background: -background-color;
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: rgba(255, 255, 255, 0.5);
}

.listview-modern .list-cell:filled{
    -fx-background-color: rgba(0,0,0, 0.8);
    -fx-border-color: rgba(255,255,255, 0.5);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}

.listview-modern .list-cell:filled:selected{
    /*-fx-background-color: #26272B;*/
    -fx-border-color: #8953E0;
}

.listview-modern .list-cell:filled:hover{
    -fx-background-color: #26272B;
}

.listview-modern2{
    -fx-background-color: -background-color;
    -fx-control-inner-background: -background-color;
}


.listview-modern2 .list-cell:selected{
    -fx-background-color: transparent;
}